// Our CSS reset
@import './reset';

// Gorko config
@import './config';

// Gorko utilities
@import '../node_modules/gorko/gorko';

// Block classes
@import './blocks/img';
@import './blocks/button';
@import './blocks/text';
@import './blocks/container';
@import './blocks/slide';

// Utility classes
@import './utilities/grid-area';
@import './utilities/flow';

:root {
  --flow-size: 2rem;
}

.inactive {
  scale: 0;
}

.letter-spacing-1 {
  letter-spacing: 0.8rem;
}

.capitalize {
  text-transform: uppercase;
}

body {
  background-color: get-color('light');
  overflow: hidden;
  font-family: 'Spartan', sans-serif;
  line-height: 1.6;
}

h1 {
  @extend .text-600;
  line-height: 1;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 30% calc($button-width * 2) 1fr;
  grid-template-rows: 60% $button-width 1fr;
  grid-template-areas:
    'a a b b'
    'a a b b'
    'c d d e';
  place-items: center;
}

nav {
  position: absolute;
  z-index: 1;
}
