$button-width: 4vw;

.button {
  width: $button-width;
  height: $button-width;
  grid-column-start: 3;
  grid-row-start: 2;
  border: 0;
  border-radius: 0;
  z-index: 1;
  cursor: pointer;
  display: grid;
  place-items: center;
  background-color: get-color('dark');

  &:hover {
    background-color: get-color('dark-gray');
  }

  &__icon {
    width: auto;
    height: 30%;
  }
}
