.navbar {
  position: absolute;
  top: 0;
  min-height: 8rem;
  min-width: 100vw;
  padding: 1rem;
  padding-left: 6rem;
  z-index: 1000;
  margin: 0;
  background-color: white;
  text-transform: lowercase;
  color: get-color('dark');
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  transform: translateY(-100%);
  transition: transform 0.5s;

  &[data-visible='true'] {
    transform: translateY(0);
  }

  a {
    text-decoration: none;
    color: get-color('dark');

    position: relative;

    &::after {
      $width: 50%;

      content: ' ';
      position: absolute;
      top: 150%;
      left: calc(50% - $width / 2);
      width: $width;
      height: 3px;
      background-color: get-color(light);
      scale: 0;
      transition: scale 200ms;
    }

    &:hover::after {
      scale: 1;
    }
  }

  @include media-query('lg') {
    background-color: transparent;
    transform: translateY(0);
    justify-content: start;
    padding-left: 14rem;

    a {
      color: get-color('light');
    }
  }

  .logo {
    font-size: 2rem;
  }
}
