.slide {
  $slide-duration: 750ms;
  $slide-function: none;
  $slide-distance: 99%; // Leaving 1% of overlap because there can sometimes be 1 pixel between slides and it looks weird
  grid-row: 1;
  grid-column: 1;

  &-in {
    &-left {
      animation: slide-in-left $slide-duration $slide-function;
    }
    &-right {
      animation: slide-in-right $slide-duration $slide-function;
    }
  }

  &-out {
    &-left {
      animation: slide-out-left $slide-duration $slide-function;
    }
    &-right {
      animation: slide-out-right $slide-duration $slide-function;
    }
  }

  @keyframes slide-in-left {
    from {
      transform: translateX($slide-distance);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(-($slide-distance));
    }
    to {
      transform: translateX(0%);
    }
  }
  @keyframes slide-out-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-($slide-distance));
    }
  }

  @keyframes slide-out-right {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX($slide-distance);
    }
  }
}
